In [10]:
%config IPCompleter.greedy=True # Enable basic intellisense
import math

def distance(*args):
    dis = 0
    for i in args:
        dis += i * i
    return math.sqrt(dis)

In [2]:
distance(2,2)

2.8284271247461903

In [15]:
import numpy as np
import pandas as pd

columns = ['Length', 'age', 'gender']
data = [[188, 24, 'm'],
        [166, 34, 'f'],
        [170, 26, 'f'],
        [175, 40, 'm']]

In [21]:
npdata = np.array(data)
df = pd.DataFrame(npdata, columns=columns)
df

  Length age gender
0    188  24      m
1    166  34      f
2    170  26      f
3    175  40      m

In [22]:
df.iloc[ :, -1:] # Labels

  gender
0      m
1      f
2      f
3      m

In [23]:
df.iloc[:,:-1] # Predictors

  Length age
0    188  24
1    166  34
2    170  26
3    175  40

In [39]:
for i in df.iterrows():
    print(i[1][0])
    print('---------------------')

188
---------------------
166
---------------------
170
---------------------
175
---------------------

In [40]:
import perfplot 
import pandas as pd

def vectorization(df):
	return df['A'] + df['B']

def list_comprehension(df):
	return pd.Series([x + y for x, y in zip(df['A'], df['B'])], index=df.index)

def apply(df):
	return df.apply(lambda row: row['A'] + row['B'], axis=1)

def iterrows(df):
	result = []
	for index, row in df.iterrows():
		result.append(row['A'] + row['B'])

	return pd.Series(result, index=df.index)


df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
kernels = [vectorization, list_comprehension, apply, iterrows]

perfplot.show(
    setup=lambda n: pd.concat([df] * n, ignore_index=True),
    kernels=kernels,
    labels=[str(k.__name__) for k in kernels],
    n_range=[2**k for k in range(0, 12)],
    xlabel='N',
    logx=True,
    logy=True)

ModuleNotFoundError: No module named 'perfplot'